/**/
/* スタート画面 */
#nyugakusiki {
     background: url(../picture/h-nyuugaku.png) left top / 100% 100% no-repeat fixed;
}
.annai {
    position: absolute;
    height: 18%;
    width: 30%;
    top: 38%;
    left: 3%;
}
.nyugaku1 {
    position: absolute;
    height: 18%;
    width: 30%;
    top: 38%;
    left: 67%;
}

/* 入学案内の画面 */
#annainavi {
    background: url(../picture/h-annai.png) left top / 100% 100% no-repeat fixed;
}
.nyugaku2 {
    position: absolute;
    height: 16%;
    width: 26%;
    top: 78%;
    left: 73%;
}

/* 授業の画面　*/
.zyugyo {
   width: 100%;
   height: 100%;
}
.nextclass {
    position: absolute;
    height: 22%;
    width: 27%;
    top: 77%;
    left: 69%;    
}
.gotest {
    position: absolute;
    height: 22%;
    width: 27%;
    top: 77%;
    left: 69%;
}

/* テスト画面 */
.testback {
   width: 100%;
   height: 100%;
}
.test1 {
    position: absolute;
    height: 15%;
    width: 45%;
    top: 71%;
    left: 4%;
}
.test2 {
   position: absolute;
   height: 15%;
   width: 45%;
   top: 71%;
   left: 52%;
}
.test3 {
    position: absolute;
    height: 15%;
    width: 45%;
    top: 85%;
    left: 4%;
}
.test4 {
   position: absolute;
   height: 15%;
   width: 45%;
   top: 85%;
   left: 52%;
}

/*テスト～答えの画面 正解　5年も含む～*/
.ans-true {
   width: 100%;
   height: 100%;
}
.next-gakunen {
   position: absolute;
   height: 19%;
   width: 39%;
   top: 81%;
   left: 61%;
}
.goout {
   position: absolute;
   height: 19%;
   width: 35%;
   top: 81%;
   left: 64%;    
}

/*テスト～答えの画面 間違い～*/
#ans-miss {
      background: url(../picture/h-huseikai.png) left top / 100% 100% no-repeat fixed;
}
.goryunen {
   position: absolute;
   height: 22%;
   width: 24%;
   top: 78%;
   left: 71%;
}

/*進級画面１→２*/
#sinkyu2 {
      background: url(../picture/h-2nensinkyuu.png) left top / 100% 100% no-repeat fixed;
}
.go2 {
   position: absolute;
   height: 20%;
   width: 45%;
   top: 46%;
   left: 5%;
}

/*進級画面２→３*/
#sinkyu3 {
      background: url(../picture/h-3nensinkyuu.png) left top / 100% 100% no-repeat fixed;
}
.kose {
   position: absolute;
   height: 23%;
   width: 43%;
   top: 42%;
   left: 57%;
}

/* コース選択 */
#select {
      background: url(../picture/h-ko-susentaku.png) left top / 100% 100% no-repeat fixed;
}
.ryutsu {
   position: absolute;
   height: 24%;
   width: 48%;
   top: 48%;
   left: 1%;
}
.zyouho {
   position: absolute;
   height: 24%;
   width: 48%;
   top: 48%;
   left: 51%;
}



/*進級画面３→４*/
#sinkyu4 {
      background: url(../picture/h-4nensinkyuu.png) left top / 100% 100% no-repeat fixed;
}
.go4 {
   position: absolute;
   height: 23%;
   width: 43%;
   top: 40%;
   left: 52%;
}

/*進級画面４→５*/
#sinkyu5 {
      background: url(../picture/h-5nensinkyuu.png) left top / 100% 100% no-repeat fixed;
}
.go5 {
   position: absolute;
   height: 20%;
   width: 43%;
   top: 34%;
   left: 50%;
}

/*留年の画面*/
#ryunen {
      background: url(../picture/h-ryuunen.png) left top / 100% 100% no-repeat fixed;
}
.relesson {
   position: absolute;
   height: 18%;
   width: 43%;
   top: 49%;
   left: 55%;
}
.retest {
   position: absolute;
   height: 18%;
   width: 43%;
   top: 65%;
   left: 55%;
}
.pokemongo {
   position: absolute;
   height: 18%;
   width: 43%;
   top: 82%;
   left: 55%;
}

/* 商船マジック */
#magic {
    background: url(../picture/h-magic.png) left top / 100% 100% no-repeat fixed;
}
.indi {
   position: absolute;
   height: 18%;
   width: 30%;
   top: 73%;
   left: 69%;
}

/*ゲームオーバーの画面*/
#gameover {
      background: url(../picture/h-taigaku.png) left top / 100% 100% no-repeat fixed;
}
.restart {
   position: absolute;
   height: 20%;
   width: 43%;
   top: 62%;
   left: 9%;
}

/*卒業の画面*/
#sotugyo {
      background: url(../picture/h-sotugyou.png) left top / 100% 100% no-repeat fixed;
}
.r-job {
   position: absolute;
   height: 25%;
   width: 38%;
   top: 70%;
   left: 5%;
}
.z-job {
   position: absolute;
   height: 25%;
   width: 38%;
   top: 70%;
   left: 59%;
}

/*企業一覧の画面*/
.joblist {
   width: 100%;
   height: 100%;
}
.job1 {
   position: absolute;
   height: 17%;
   width: 40%;
   top: 27%;
   left: 5%;
}
.job2 {
   position: absolute;
   height: 17%;
   width: 40%;
   top: 27%;
   left: 57%;
}
.job3 {
   position: absolute;
   height: 17%;
   width: 40%;
   top: 54%;
   left: 5%;
}
.job4 {
   position: absolute;
   height: 17%;
   width: 40%;
   top: 54%;
   left: 57%;
}
.end {
    position: absolute;
    height: 18%;
    width: 27%;
    top: 79%;
    left: 38%;
}
.backback {
    position: absolute;
   height: 13%;
   width: 30%;
   top: 3%;
   left: 70%;
}

/*企業の画面*/
.kigyo {
   width: 100%;
   height: 100%;
}
.modoru {
   position: absolute;
   height: 14%;
   width: 18%;
   top: 0%;
   left: 0%;
}
